# project specific ignores
whooshIndex
powerData

# python ignores -- Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# vs code ignores
.vscode

#idea editors
.idea

# apple specific ignores
.DS_Store
.AppleDouble
._*
