<div class="power">
    <!--    Display SST Logo -->
    <!-- <h1><img src="{{ url_for('static',filename='styles/images/sstlogo.png') }}" width=100% alt="SuperPower SuperSearch" class="power-pic" > -->
</h1></div>
<div class="description">
</div>
<div class="alias">
</div>
<div class="users">
</div>
<div class="counters">
</div>
<div class="assoc">
</div>
<div class="picture">
    <!-- Display Generic Power Pic Always-->
    <img src="{{ url_for('static',filename='styles/images/nopic.png') }}" width=100% alt="SuperPower SuperSearch" class="power-pic" >
        
</div>