<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href= "{{ url_for('static',filename='styles/main.css') }}">
        <title>SuperPower Super-Search</title>
    </head>

    <body>
        <img src="{{ url_for('static',filename='styles/images/sstlogo.png') }}" width=100% alt="SuperPower SuperSearch">
        <div class="search">
            <form method="get" action="{{ url_for('results') }}">
                <!-- <label for="query"></label> -->
                <input type="text" name="query" id="searchbar" placeholder="Search by Power or User..." />
                <!-- <img src="{{url_for('static',filename='styles/images/searchbutton.png')}}" alt="Submit"> -->
                <input class="button" type="submit" value="Search" />
            </form>
        </div>
    </body>
</html>
